<div class="container align-items-center row mx-auto" style="margin-top: 120px; align-content:center;" >
  <div style="vertical-align: middle;">
  <a href="<%= admin_root_path %>" class=" pull-left btn btn-danger btn-just-icon">
    <i class="fas fa-arrow-left fa-2x"></i>
  </a>
  </div>
  <div class="card mx-auto" style="width: 20rem;">
  <div class="card-body">
    <p><i class="fas fa-users fa-3x mx-3"></i>Reservations actuel : <%= @bookings.count %></p>
  </div>
</div>
<div class="align-text">
<a href="#" class=" pull-right btn btn-success btn-round">
   <i class="fas fa-user fa-2x mr-2"></i> Nouvel reservation
</a>
</div>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Pension complète</th>
      <th scope="col">Date de depart</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Places reservée</th>
      <th scope="col">User ID</th>
      <th scope="col">Hotel ID</th>
      <th scope="col">Option ID</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>

<%  @bookings.each_with_index do |t,index| %>
    <tr>
      <th scope="row"><% index %></th>
      <td><%= t.id %></td>
      <td><%= t.full_board %></td>
      <td><%= t.start_date %></td>
      <td><%= t.end_date %></td>
      <td><%= t.bed_booked %></td>
      <td><%= t.user_id %></td>
      <td><%= t.hostel_id %></td>
      <td><%= t.option_id %></td>
      <td><%= link_to "Modifier", edit_admin_booking_path(t), class:"btn btn-primary" %></td>
      <td><%= link_to "Supprimer", admin_booking_path(t.id), class:"btn btn-danger", method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
