<body style="background-image: url(https://images.unsplash.com/photo-1542315291377-a38c9fe57384?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); background-repeat:no-repeat; background-size:cover; background-position:center; ">

  <div class="container pt-lg-md" >
    <div class="row justify-content-start">
      <div class="col-lg-5">
        <div class="card bg-white shadow border-0" style="width:140%; border-radius:20px; margin-top:18rem; margin-bottom:14rem;">


          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
             <h4 class="h3 mb-3 mt-4 font-weight-normal text-center" style="font-size:38px;">Modifier mon Mot de Passe</h4>
              <hr style="width:80%;">
                <%= devise_error_messages! %>
                <div class="mx-auto pb-3" style="width:80%;">

                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                  </div>

                  <div class="actions py-4">
                    <%= f.submit "M'envoyer les instructions", class:"btn btn-info btn-block btn-round" %>
                  </div>
                  <% end %>

                  <%= render "devise/shared/links" %>
                  </div>
              </div>
          </div>
        </div>
      </div>
</body>
