
<div class="container text-center margin-top">
  <h3 class="title">Bienvenue <!-- current_user.first_name --></h3>
  <p class="description">Que veux-tu faire ?</p>
</div>
<br><br><br>
<div class="container">
<div class="card-deck mx-auto width-30">
<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Users</h4>
    <br>
    <a href="<%= admin_users_path %>" class="btn btn-primary btn-just-icon">
      <i class="fas fa-user"></i>
    </a>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Reservations</h4>
    <br>
    <a href="<%= admin_bookings_path %>" class="btn btn-primary btn-just-icon">
      <i class="fas fa-poll-h"></i>
    </a>
  </div>
</div>
</div>
<br><br>

<div class="card-deck mx-auto" style="width: 30rem;">

<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Hotels</h4>
    <br>
    <a href="<%= admin_hostels_path %>" class="btn btn-primary btn-just-icon">
      <i class="fas fa-hotel"></i>
    </a>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Orders</h4>
    <br>
    <a href="<%= admin_orders_path %>" class="btn btn-primary btn-just-icon">
      <i class="fab fa-cc-visa"></i>
    </a>
  </div>
</div>
</div>
</div>
<br><br><br>
<!-- Calendar -->
<div class="container">
  <%= month_calendar events: @bookings do |date, bookings| %>
    <h6 class="text-danger"><%= date %></h6>
    <% bookings.each do |booking| %>
      <div class="row my-2 mx-auto border " style="align-items:center; background-color:white; border-radius:4px; width:98%;">
        <p class="col-12" style="font-size:14px;"><%= booking.user.first_name %> <%= booking.user.last_name %>
        <p class="col-6"><i class="fas fa-bed"></i> <%= booking.bed_booked %></p>
        <small class="text-muted col-6">
        <% if booking.option_id == nil%>
        <% else %>
        <i class="far fa-check-circle text-danger pr-2"></i>
         <%end%>
         <% if booking.location_item == true %>
         <i class="far fa-check-circle text-success pr-2"></i>
         <% else %>
         <%end%>
         <% if booking.full_board == true %>
         <i class="far fa-check-circle text-info"></i>
         <% else %>
         <%end %>
        </small>

      </div>
    <% end %>
  <% end %>
</div>
