<div class="container align-items-center row mx-auto admin-index" >
  <div class="vertical">
  <a href="<%= admin_root_path %>" class=" pull-left btn btn-danger btn-just-icon">
    <i class="fas fa-arrow-left fa-2x"></i>
  </a>
  </div>
  <div class="card mx-auto width">
  <div class="card-body">
    <p><i class="fas fa-users fa-3x mx-3"></i>Utilisateurs actuel : <%= @users.count %></p>
  </div>
</div>
<div class="align-text">
<a href="<%= new_admin_user_path %>" class=" pull-right btn btn-success btn-round">
   <i class="fas fa-user fa-2x mr-2"></i> Nouvel user
</a>
</div>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Date de création</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>

<%  @users.each_with_index do |t,index| %>
    <tr>
      <th scope="row"><% index %></th>
      <td><%= t.id %></td>
      <td><%= t.first_name %></td>
      <td><%= t.last_name %></td>
      <td><%= t.email %></td>
      <td><%= t.created_at %></td>
      <td><%= link_to "Modifier", edit_admin_user_path(t), class:"btn btn-primary" %></td>
      <td><%= link_to "Supprimer", admin_user_path(t.id), class:"btn btn-danger", method: :delete, confirm: "Are you sur ?" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
